*{font-family: 'Roboto', sans-serif;}

#canvas{
display: flex;
margin:0px auto;}


/*footer responsive*/
footer{
background: #0A3871;
color: white;}
nav{
display: flex;
justify-content: center;}
.icono-redireccionado{
border-radius: 50%;
width: 2em;
height: 2em;
margin: 0.5em 0.2em;}
footer p{
display: flex;
justify-content: center;
font-size: 10px;
opacity: 80%;
margin: 0em 0em 1em 0em;}
footer p:last-child{
font-size: 8px;}

/*Responsive creciente*/
@media screen and (min-width: 200px){
*{width: auto;}
#canvas{width: 170px;}
#footer{width: 100%;}}
@media screen and (min-width: 300px){
*{width: auto;}
#canvas{width: 270px;}
#footer{width: 100%;}}
@media screen and (min-width: 400px){
*{width: auto;}
#canvas{width: 270px;}
#footer{width: 100%;}}
@media screen and (min-width: 500px){
*{width: auto;}
#canvas{width: 270px;}
#footer{width: 100%;}}
@media screen and (min-width: 600px){
*{width: auto;}
#canvas{width: 370px;}
#footer{width: 100%;}}
@media screen and (min-width: 700px){
*{width: auto;}
#canvas{width: 370px;}
#footer{width: 100%;}}
@media screen and (min-width: 800px){
*{width: auto;}
#canvas{width: 400px;}
#footer{width: 100%;}}
@media screen and (min-width: 900px){
*{width: auto;}
#canvas{width: 400px;}
#footer{width: 100%;}}
@media screen and (min-width: 1000px){
*{width: auto;}
#canvas{width: 400px;}
#footer{width: 100%;}}